body {
    background-color: maroon;
}

header {
    text-align: center;
    color: white;
    font-family: Luminari;
}

h3 {
    text-align: center;
    color: white;
    font-family: Luminari;
}

#currentRound{
    text-align: center;
    margin-top: 40px;
    color: gold;
    font-family: Luminari;
    font-size: 20px;
}

#options {
    text-align: center;
    margin-top: 7.5%;
    margin-bottom: 10%;
}

.buttons {
    width: 80px;
    height: 30px;
    background: gold;
    margin: 0 50px;
    font-family: Luminari;
    color: maroon;
}

#scores {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0 350px;
    color: gold;
    font-family: Luminari;
    font-size: 20px;
}

#round-selections {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0 200px 60px;
    color: white;
    font-family: Luminari;
}

#results {
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 50px;
    font-family: Luminari;
}

#gameResults {
    color: gold;
    font-family: Luminari;
    font-size: 40px;
}

#reset-game {
    display: flex;
    justify-content: center;
}

#resetGameBtn {
    height: 50px;
    font-family: Luminari;
    background: gold;
    color: maroon;
}

footer {
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    color: white;
    text-align: center;
    font-family: Luminari;
}